{% extends 'index.html' %}
{% load static %}

{% block titulo %}
Listar
{% endblock titulo %}

{% block titulo_principal %}
Actividades Creadas
{% endblock titulo_principal %}
{% block titulo_segundario %}
{% endblock titulo_segundario %}

{% block body %}
<div class="container">
          <div class="row">
            <div class="col-md-12 search">
              <form method="get">
                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                      <button type="submit" class="btn btn-success">Buscar</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <br>
    {% if actividades %}
        <center>
            <table class="egt" border="">
                <thead>
                    <tr>
                        <th><center>Titulo</center></th>
                        <th><center>Fecha Inicial</center></th>
                        <th><center>Fecha Final</center></th>
                        <th><center>Descripcion</center></th>
                        <th><center>Usuarios</center></th>
                        <th><center>Opciones</center></th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in actividades %}
                        <tr>
                            <td>{{ actividad.titulo }}</td>
                            <td>{{ actividad.fechaInicial }}</td>
                            <td>{{ actividad.fechaFinal }}</td>
                            <td>{{ actividad.descripcion }}</td>
                            <td>
                                {% for user in actividad.usuario_id.all %}
                                    <li>{{ user.nombres }}</li>
                                {% endfor %}
                            </td>
                            <td>
                            <a href="{% url 'calendario:editar' actividad.id %}" class="btn btn-primary">Editar</a>
                            <a href="{% url 'calendario:eliminar' actividad.id %}" class="btn btn-danger">Eliminar</a>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
        {% else %}
            <h1>No existen Actividades registradas</h1>
    {% endif %}
    <br>
    <div class="row">
        <div class="">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                {% if actividades.has_previous %}
                <div class="clearfix">
                    <a href="?page={{ actividades.previous_page_number }} {% if request.GET.search %} &q={{ request.GET.search }} {% endif %}" class="btn btn-primary float-left">Anterior</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                {% if actividades.has_next %}
                <div class="clearfix">
                    <a href="?page={{ actividades.next_page_number }} {% if request.GET.search %} &q={{ request.GET.search }} {% endif %} " class="btn btn-primary float-left">Siguiente</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}