{% extends 'login.html' %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

{% block body %}
<span class="login100-form-title p-b-32">
    Crear Usuario
</span>
<form method="POST" enctype="multipart/form-data" class="form-horizontal">
    {% csrf_token %}
        {{ form.as_p }}
        <br>
        <button type="submit" class="btn btn-success">Guardar</button>
</form>
{% endblock body %}