{% extends 'index.html' %}
{% block titulo %}
    Eliminacion de Logins
{% endblock titulo %}
{% block body %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<form method="POST">
    {% csrf_token %}
    <h2>¿Desea eliminar el registro {{ login.nombre }}?</h2>
      <button type="submit">Eliminar</button>
      <a href="{% url 'calendario:listar_login'%}">Cancelar</a>
</form>
{% endblock body %}