{% extends 'index2.html' %}
{% load static %}

{% block titulo %}
Crear
{% endblock titulo %}

{% block titulo_principal %}
Crear Nueva Actividad
{% endblock titulo_principal %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block body %}
<form method="POST">
    {% csrf_token %}
    {% if error %}
        <h2>{{ error }}</h2>
    {% else %}
        {{ actividad_form.as_p }}
        <button type="submit">Crear</button>
    {% endif %}
</form>
{% endblock body %}


