{% extends 'index2.html' %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block titulo %}
    Eliminacion de Actividades
{% endblock titulo %}
{% block body %}
<form method="POST">
    {% csrf_token %}
    <h2>¿Desea eliminar la Actividad?</h2>
    <button type="submit">Eliminar</button>
    <a href="{% url 'calendario:listar' %}">Cancelar</a>
</form>
{% endblock body %}