{% extends 'index2.html' %}
{% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block titulo %}
    Eliminacion de Actividades
{% endblock titulo %}
{% block titulo_principal %}
{% endblock titulo_principal %}
{% block titulo_segundario %}
{% endblock titulo_segundario %}
{% block body %}
<p method="POST">
    {% csrf_token %}
<p><strong><h2>¿Desea eliminar la Actividad?</h2></strong></p>
    <button type="submit" class="btn btn-danger">Confirmar</button>
    <a href="{% url 'calendario:listar' %}">Cancelar</a>
</form>
{% endblock body %}