{% extends 'index2.html' %}
{% load static %}

{% block titulo %}
Listar
{% endblock titulo %}

{% block titulo_principal %}
Actividades Creadas
{% endblock titulo_principal %}

{% block body %}
<div class="container">
          <div class="row">
            <div class="col-md-12 search">
              <form method="get">
                <div id="custom-search-input">
                  <div class="input-group col-md-12">
                    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                    <span class="input-group-list">
                      <i class="icon icon-search"></i>
                      <button type="submit" class="boton btn-success">Buscar</button>
                    </span>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      <br>
    {% if actividades %}
        <center>
            <table class="egt" border="">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Fecha</th>
                        <th>HoraInicial</th>
                        <th>HoraFinal</th>
                        <th>Descripcion</th>
                        <th>Usuario</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for actividad in actividades %}
                        <tr>
                            <td>{{ actividad.id }}</td>
                            <td>{{ actividad.fecha }}</td>
                            <td>{{ actividad.horaInicial }}</td>
                            <td>{{ actividad.horaFinal }}</td>
                            <td>{{ actividad.descripcion }}</td>
                            <td>{{ actividad.usuario_id }}</td>
                            <td>
                            <a href="{% url 'calendario:editar' actividad.id %}">Editar</a>
                            <a href="{% url 'calendario:eliminar' actividad.id %}">Eliminar</a>
                        </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </center>
        {% else %}
            <h1>No existen Actividades registradas</h1>
    {% endif %}
    <br>
    <div class="row">
        <div class="">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-left">
                {% if actividades.has_previous %}
                <div class="clearfix">
                    <a href="?page={{ actividades.previous_page_number }} {% if request.GET.search %} &q={{ request.GET.search }} {% endif %}" class="btn btn-primary float-left">Anterior</a>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="">
            <div class="col-md-6 col-sm-6 col-lg-6 col-xs-6 float-right">
                {% if actividades.has_next %}
                <div class="clearfix">
                    <a href="?page={{ actividades.next_page_number }} {% if request.GET.search %} &q={{ request.GET.search }} {% endif %} " class="btn btn-primary float-left">Siguiente</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock body %}